# Pre-Production (Test) - limited data, all features
# VITE_QURAN_CLIENT_ID=
# VITE_QURAN_CLIENT_SECRET=
# VITE_QURAN_OAUTH_URL=https://prelive-oauth2.quran.foundation

# Production (Live) - full Quran content
VITE_QURAN_CLIENT_ID=
VITE_QURAN_CLIENT_SECRET=
VITE_QURAN_OAUTH_URL=https://oauth2.quran.foundation
